@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Merriweather", serif;
}
.banner-container{
   margin: 0 auto;
   width: 1270;
   min-height: 600px;
   margin: 40px;
   background-image: url('/images/Banner\ Image.png');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   border-radius: 16px;
   background-color: rgb(0,0,0,60%);
   background-blend-mode: overlay;
}

.banner-content{
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    text-align: center;
}
.banner-content h1{
    color: rgb(255, 255, 255);
font-family: Merriweather;
font-size: 70px;
font-weight: 900;
line-height:90px;
letter-spacing: 0%;
text-align: center;
padding-top: 20px;
}
.banner-content p{
    color: rgb(255, 255, 255);
font-family: Merriweather;
font-size: 32px;
font-weight: 400;
line-height: 40px;
letter-spacing: 0%;
text-align: center;
}
.sec1{
    margin: 0 auto;
    width: 802.9px;
    height: 806px;
    display: flex;
    flex-direction: column;
    

}
.newyear{
    width: 802.9px;
    height: 500px;
}